apiVersion: v1
kind: Secret
metadata:
  name: ${secret_name}
  namespace: model-service
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: ${dockerconfigjson}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: default
  namespace: model-service
imagePullSecrets:
  - name: ${secret_name}
